/* Responsive Tabs - menucool.com/jquery-tabs */

ul.rtabs
{
    text-align:left; /*set to left, center, or right to align the tabs as desired*/    
    font-size:0;
    margin:0;
    padding:0;
    list-style-type:none;
}
        
ul.rtabs li
{
    margin:0;
    margin-right:4px; /*gap between tabs. Set it to -1px for no gap.*/
    padding:0;
    display:inline;
}
        
ul.rtabs li a{
    padding:0 30px; /* It determines tab width */
    display:inline-block;   
    font-weight:normal;
    font-size:17px;
    font-family: 'Raleway', sans-serif;	
    line-height:55px;/* height of tabs */
    text-decoration: none;
    color:#fff;
    background:#2fc5cf;
    outline:none;
    border-bottom:none;
    position:relative;
}
        
ul.rtabs li a:link, ul.rtabs li a:visited{
    color:#fff;
}
        
ul.rtabs li a:hover{
}
  
/*selected tab style */
ul.rtabs li.selected a{
    font-weight:normal;
    background:#0a8a61;
    z-index:3;
}   
        
/*selected tab style on hover */
ul.rtabs li.selected a:hover{
    text-decoration:none;
}

/* container of content panels */
div.panel-container{
    background:#f6f6f6;
    position:relative;   
    padding:0px;
	margin:0px;
	border-top:2px solid #0a8a61;
}

/* content panel */       
div.panel-container > div{
    padding:30px 26px;
    
    /* The two settings below should not be changed. */
    display: block;
    margin:0px;
}  
div.panel-container div.inactive
{
    display: none;
}

/* loading image before ajax content is retrieved. Only applicable when Ajax is used.*/
div.ajaxLoading {background:transparent url(loading.gif) no-repeat center center; height:150px; width:20px; font-size:0;padding:0; margin:0 auto; }

