.addproperty-heading {border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;padding: 0px;}
.addproperty-heading input {margin: 8px 0;float:right;} 
#view2 .view2-box-inner:nth-child(2n) {float: left;}
.panel-container label{font-weight:normal;}
.subcat_insclusion{width:100%;float:left;}
.subcat_insclusion .checkbox {width:100%;border-bottom: 1px solid #d2d2d2;overflow: hidden;padding: 0 0 5px;}
.subcat_insclusion .checkbox label {width:19%;float:left;font-size: 13px;}
#view3 input[type="submit"],#view1 input[type="submit"] {background: #2fc9d4 none repeat scroll 0 0;border: medium none;color: #fff;cursor: pointer;display: block;font-family: "Raleway",sans-serif;font-size: 18px;margin: 20px 35%;width: 20%; border-radius: 5px; height: 46px;padding: 4px;float:left;}
.next_addprop {background: #2fc9d4 none repeat scroll 0 0;border: medium none;color: #fff;cursor: pointer;display: block;font-family: "Raleway",sans-serif;font-size: 18px;margin: 20px 40%;width: 20%; border-radius: 5px; height: 46px;padding: 4px;float:left;}
.rtabs li{cursor:pointer;}
.panel-container .cls{display: none;}
.panel-container .active{display: block;}
div.panel-container #view1{margin: 0;padding: 30px 26px;}
div.panel-container #view2{margin: 0;padding: 30px 26px;}
.property_manag #properties_length label{ margin:34px 0 0 0;}
.append_galleryimages div.clas  span.remove_image {float: right;left: 88%;position: absolute;top: 0;cursor: pointer;}
.append_galleryimages div.clas {float: left;margin: 12px;position:relative;}
.append_galleryimages {float: left;position:relative;}

.append_floorimages div.clas  span.remove_image {float: right;left: 88%;position: absolute;top: 0;cursor: pointer;}
.append_floorimages div.clas {float: left;margin: 12px;position:relative;}
.append_floorimages {float: left;position:relative;padding:10px;}
.img_prop input[type="file"]{ background: #fff none repeat scroll 0 0;border: 1px solid #d4d4d4;border-radius: 5px;float: left;height: 50px;width: 100%;}
.major-builder .inactive, .share_prop .inactive1 {display:none;}
.major-builder .active1, .share_prop .active1{display:block;}
div.dataTables_length select{line-height: 10px;}
table.dataTable thead .sorting_asc::after {content: "";float: right;font-family: fontawesome;}
table.dataTable thead .sorting::after {color: #fff;content: "";float: right;font-family: fontawesome;}
table.dataTable thead .sorting_desc::after {content: "";float: right;font-family: fontawesome;}
.builder-details .slick-arrow {bottom: 20px !important;}
img.slick-slide{min-height:215px;}
.paginate_property {float: right;}
.fancybox-custom .fancybox-skin {box-shadow: 0 0 50px #222;}
.subcat_insclusion label strong{ color:#2FC5CF; font-size: 15px;}
.contact-right p, .contact-right h3, .contact-left p, .contact-left h3 {margin-bottom:10px;}
.promotion { border: 1px solid #9c0e0e; border-radius: 8px;font-size: 14px;font-weight: 300; line-height: 1.5em; margin: 0 0 30px;padding: 0 0 30px;    position: relative;    text-align: center;}
.promotion .promotion__banner::after, .promotion .promotion__banner::before {border-bottom: 17px solid transparent;border-left: 9px solid #6b186d;border-right: 17px none transparent;right: -9px;}
.promotion__banner::after, .promotion__banner::before {border-bottom: 17px solid transparent;border-left: 9px solid #8d2b8f;border-right: 17px none transparent;content: " ";display: block;height: 0;position: absolute;left: 12.3%;top: 27;width: 0;}
.promotion .promotion__banner {margin-top: -16px;top: 50%;text-align: center;}
.promotion .promotion__banner {background: #6b186d none repeat scroll 0 0;float: left;font-size: 12px;left: 13px;line-height: 34px;margin: 2% -25px 0;padding: 2px;width: 100px;}
.promotion__banner::after {border-bottom: 0 none;border-top: 17px solid transparent;bottom: 17px;top: auto;}
.icon-budicon-pricetag::before {content: "";}
.promotion__description {color: #000;display: inline-block; font-size: 18px; padding: 0;  vertical-align: middle;}
.promotion__link {display: inline-block;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px; background:#000; font-size: 16px; line-height: 1.25em; margin: 0 auto; padding: 1vw 2vw !important;  z-index: 2;}
.promotion, .promotion__banner, .promotion__link, .promotion__link:hover, .step-indicator, .step-indicator__link:hover, .step-indicator__list li a {color: #fff;
}
.promotion > h3 { -webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;background: #9c0e0e none repeat scroll 0 0; font-size: 30px; margin: 0 0 20px; padding: 5px 0; text-align: center;
}
.fa-download::before {content: "";}
.propery_mainslider {height: 44vh;}
.property_detailimg {height: 100%;}
.property_detailimg img {max-height: 600px;height: 600px;}
.pd-cap{z-index:1;bottom:10px;}
.fb_mail_main {background: #fff !important;padding: 0 !important;width: 10pc !important;position: absolute; border: 1px solid #cecece;}
.fb_mail_main .submain {background: #fff none repeat scroll 0 0;border: 1px solid #d5d6d6;box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);margin: 0;padding: 0;}
.fb_mail_main .submain  div {color: #235dab !important;display: block;font-style: normal;font-weight: 400;padding: 4px 10px;text-decoration: none;transition: none 0s ease 0s ;}
.fb_mail_main .submain div.email{font-size: 11px; border-top: 1px solid #cecece;padding:6px;cursor:pointer;margin: 0 8px;float:left;text-align:left;width:93% !important;}
.fb_mail_main .fa.fa-envelope {font-size: 12px;margin: 0 2px 0 0px;}
.share_prop {cursor: pointer;}
.fb-share-button span, .fb-share-button iframe { height:25px !important; width:135px !important}
 .black_overlay{	display: none;	position: fixed;	top: 0%;	left: 0%;	width: 100%;	height: 100%;	background-color: black;	z-index:1001;	-moz-opacity: 0.8;	opacity:.80;	filter: alpha(opacity=80);}
.white_content {display: none;	position: fixed;	top: 15%;left: 25%;width: 50%;height: 65%;padding: 16px;background-color: white;z-index:1002;overflow: auto;}
.share_byemail h3.heading{border: 0 none;color: #333;direction: ltr;font-family: helvetica neue,helvetica,arial,sans-serif;font-size: 1pc;font-weight: 700;height: 49px;line-height: 49px;margin: 0 50px 0 22px;padding: 0 20px;text-align: left;text-shadow: 0 1px #fff;}
.email_headwithcls{ background: #f1f1f1 none repeat scroll 0 0;border-bottom: 1px solid #d2d2d1;cursor: default;height: 49px;position: relative;}
.email_headwithcls a {background-position: center center;background-repeat: no-repeat;border-left: 1px solid #d2d2d1;cursor: pointer;display: block;height: 49px;line-height: 49px;overflow: hidden;position: absolute;right: 0;text-indent: -9999px;text-shadow: none;top: 0;width: 49px;}
.email_headwithcls img {float: left;margin: 11px 14px;text-align: center;}
.emailrow {border-bottom: 1px solid #e4e4e4;color: #666;height: 40px;line-height: 40px;margin: 0;overflow: hidden;padding: 0;position: relative;}
.emailrow label {font-size: 13px;left: 20px;position: absolute;top: 0;width: 85px;}
.emailrow p {margin: 0;padding: 0;}
.emailrow p span {bottom: 0;left: 82px;position: absolute;right: 20px;top: 0;}
.emailrow p span input {background: transparent none repeat scroll 0 0;border: 0 none;color: #000;display: block;height: 40px;line-height: 40px;argin: 8px 0;outline: medium none;text-rendering: optimizelegibility;width: 100%;}
#emailprop-msg {min-height: 190px;position: relative;}
#emailprop-msg span {border: 0 none;bottom: 4px;display: block;padding-left: 20px;position: relative;}
#emailprop-msg span textarea {background: transparent none repeat scroll 0 0;border: 0 none;display: block;font-family: arial,helvetica,sans-serif;font-size: 13px;height: 178px;margin: 0;max-width: 97%;outline: medium none;padding: 15px 0 0;width: 97%;}
#lengthlimit {background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;bottom: 0;color: #999;cursor: default;font-size: 11px;padding: 10px;position: absolute;right: 30px;z-index: 1000;}
#emailprop-sharelink{border-bottom: 1px solid #e4e4e4;border-top: 1px solid #e4e4e4;color: #666;cursor: default;font-size: 13px;padding: 20px 20px;position: relative;}
#emailprop-sharelink label {display: block;float: left;width: 40px;}
#emailprop-sharelink p {float: left;margin: 0;max-width: 525px;overflow: hidden;padding: 0;text-overflow: ellipsis;white-space: nowrap;width: 90%;}
#emailprop-send {bottom: 8px;left: 0;position: relative;right: 0;}
#emailprop-send .emailprop-send-inner {height: 75px;position: relative;}
#emailprop-send .btn-blue {position: absolute;right: 9px;top: 22px;background: #0295ff none repeat scroll 0 0;border: medium none;border-radius: 4px;color: #fff;font-size: 14px;font-weight: 400;padding: 8px 20px;transition: all 0.25s ease-in-out 0s;}
